<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration" type="Submit">Logout</button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <ul>
                <li th:each="book, iter : ${books}">
                    <span th:text="'ID: ' + ${book.id}"></span>
                    <span th:text="'Author: ' + ${book.author}"></span>
                    <span th:text="'Name: ' + ${book.name}"></span>
                    <span th:text="'Publisher: ' + ${book.publisher}"></span>
                    <span th:text="'ISBN: ' + ${book.isbn}"></span>
                    <span th:text="'Explanation: ' + ${book.explanation}"></span>
                    <a th:href="@{/admin/books/update(isbn=${book.isbn})}" th:if="${role == 'ADMIN'}">Update this book</a>
                    <form th:action="@{/admin/books/delete}" method="post" th:if="${role == 'ADMIN'}">
                        <input type="hidden" name="isbn" th:value="${book.isbn}"/>
                        <input type="submit" value="Delete this book"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>

</html>