<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Search User - Library Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/autoComplete.css}"/>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stickyFooter.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/searchBar.css}"/>
</head>
<body>

<nav th:replace="fragments/complement :: header"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/complement :: sidebar"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <hr/>
            <h2>Search User</h2>
            <hr/>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input id="userNameSearch" type="text" class="form-control input-lg" placeholder="Input username..." />
                    <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
                </div>
    </div>
            <div style="display:none;margin-top:50px;" class="table-responsive" th:each="user, iter : ${users}" th:id="${'table-' + user.username}">
                    <table class="table table-striped table-sm">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <td th:text="${user.id}"></td>
                        </tr>
                        <tr>
                            <th>Full Name</th>
                            <td th:text="${user.name}"></td>
                        </tr>
                        <tr>
                            <th>Username</th>
                            <td th:text="${user.username}"></td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td th:text="${user.password}"></td>
                        </tr>
                        <tr>
                            <th>Role</th>
                            <td>
                                <span class="badge badge-success" th:if="${user.role} == 'ADMIN'">Admin</span>
                                <span class="badge badge-secondary" th:if="${user.role} != 'ADMIN'">Regular</span>
                            </td>
                        </tr>
                        <tr th:if="${role == 'ADMIN' and currentUser.username != user.username}" >
                            <th>Action</th>
                            <td>
                                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" data-toggle="modal" th:data-target="${'#modal-update-' + user.username}">Update</button>
                                <form th:action="@{/admin/users/delete}" method="post">
                                    <input type="hidden" name="username" th:value="${user.username}"/>
                                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </main>
    </div>
</div>

<footer th:replace="fragments/complement :: footer"></footer>

<div th:each="user, iter : ${users}" class="modal fade" th:id="${'modal-update-' + user.username}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:id="${'modal-update-name-' + user.username}">Update User Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" action="#" th:action="@{/admin/users/update}" th:object="${user}" method="post" class="form-horizontal" role="form" th:id="${'userUpdate-' + user.username}">
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" th:value="*{name}" placeholder="Name" name="name" id="name"
                                   class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" th:value="*{username}" placeholder="Username" id="username" name="username"
                                   class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <input type="text" th:value="*{password}"
                                   placeholder="Password" id="password" name="password" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <select class="form-control" th:value="*{role}" id="role" name="role">
                                <option selected="selected" th:if="*{role == 'ADMIN'}">ADMIN</option>
                                <option th:if="*{role != 'ADMIN'}">ADMIN</option>
                                <option selected="selected" th:if="*{role != 'ADMIN'}">REGULAR</option>
                                <option th:if="*{role == 'ADMIN'}">REGULAR</option>
                            </select>
                        </div>
                    </div>

                    <input type="hidden" th:value="*{id}" id="id" name="id">

                </form>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btn-block" th:form="${'userUpdate-' + user.username}">Update User</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script th:inline="javascript">
$(window).on('load', function() {
    $('.modal').on('show.bs.modal', function () {
        $('.modal').not($(this)).each(function () {
            $(this).modal('hide');
        });
    });

    var message = [[${failedMessage}]];
    if (message) {
        alert(message);
     }

    feather.replace()

      switch (window.location.pathname) {
      case '/home':
          $('#allBooks').addClass('active');
          document.getElementById("bookName").disabled = false;
          break;
      case '/admin/books/update':
          $('#allBooks').addClass('active');
          document.getElementById("bookName").disabled = false;
          break;
      case '/admin/users/':
          $('#allUsers').addClass('active');
          break;
      case '/admin/users/create':
          $('#newUser').addClass('active');
          break;
      case '/admin/books/create':
        $('#newBook').addClass('active');
        break;
      case '/admin/users/search':
        $('#searchUsers').addClass('active');
        break;
      default:
          break;
       }

    function autocomplete(inp, arr) {
      /*the autocomplete function takes two arguments,
      the text field element and an array of possible autocompleted values:*/
      var currentFocus;

      /*execute a function when someone writes in the text field:*/
      inp.addEventListener("input", function(e) {
          var a, b, i, val = this.value;

          /*close any already open lists of autocompleted values*/
          closeAllLists();
          if (!val) { return false;}
          currentFocus = -1;

          /*create a DIV element that will contain the items (values):*/
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");

          /*append the DIV element as a child of the autocomplete container:*/
          this.parentNode.appendChild(a);

          /*for each item in the array...*/
          for (i = 0; i < arr.length; i++) {

            /*check if the item starts with the same letters as the text field value:*/
            if (arr[i].username.substr(0, val.length).toUpperCase() == val.toUpperCase()) {

              /*create a DIV element for each matching element:*/
              b = document.createElement("DIV");

              /*make the matching letters bold:*/
              b.innerHTML = "<strong>" + arr[i].username.substr(0, val.length) + "</strong>";
              b.innerHTML += arr[i].username.substr(val.length);

              /*insert a input field that will hold the current array item's value:*/
              b.innerHTML += "<input type='hidden' value='table-" + arr[i].username + "'>";

              /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {

                  /*insert the value for the autocomplete text field:*/
                  for (var i = 0; i < users.length; i++) {
                       var theID = 'table-' + users[i].username;
                       var theDIV = document.getElementById(theID);
                       theDIV.style.display = 'none';
                  }

                  username = this.getElementsByTagName("input")[0].value;
                  var newDIV = document.getElementById(username);
                  newDIV.style.display = 'block';

                  /*close the list of autocompleted values,
                  (or any other open lists of autocompleted values:*/
                  closeAllLists();
              });
              a.appendChild(b);
            }
          }
      });

      /*execute a function presses a key on the keyboard:*/
      inp.addEventListener("keydown", function(e) {
          var x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {

            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;

            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 38) { //up

            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;

            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 13) {

            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {

              /*and simulate a click on the "active" item:*/
              if (x) x[currentFocus].click();
            }
          }
      });

      function addActive(x) {

        /*a function to classify an item as "active":*/
        if (!x) return false;

        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);

        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocomplete-active");
      }

      function removeActive(x) {

        /*a function to remove the "active" class from all autocomplete items:*/
        for (var i = 0; i < x.length; i++) {
          x[i].classList.remove("autocomplete-active");
        }
      }
      function closeAllLists(elmnt) {

        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
          if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
          }
        }
      }

      /*execute a function when someone clicks in the document:*/
      document.addEventListener("click", function (e) {
          closeAllLists(e.target);
      });
    }

    /*An array containing all users:*/
    var users = [[${users}]];

    /*initiate the autocomplete function on the "userNameSearch" element, and pass along the countries array as possible autocomplete values:*/
    autocomplete(document.getElementById("userNameSearch"), users);
});
</script>

</body>
</html>