<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Book - Library Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js.bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stickyFooter.css}"/>
</head>
<body>

<nav th:replace="fragments/complement :: header"></nav>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="fragments/complement :: sidebar"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <hr/>
            <div class="col-md-12 col-md-offset-3">
                <form autocomplete="off" action="#" th:action="@{/admin/books/update}" th:object="${candidate}" method="post" class="form-horizontal" role="form" id="bookCreate">
                    <h2>Book Update Form</h2>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message"></label>
                            <input type="text" th:field="*{name}" placeholder="Name" th:value="${candidate.name}" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="validation-message"></label>
                            <input type="text" th:field="*{author}" placeholder="Author" th:value="${candidate.author}" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('publisher')}" th:errors="*{publisher}" class="validation-message"></label>
                            <input type="text" th:field="*{publisher}" placeholder="Publisher" th:value="${candidate.publisher}" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}" class="validation-message"></label>
                            <input type="text" th:field="*{isbn}" placeholder="ISBN" th:value="${candidate.isbn}" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('explanation')}" th:errors="*{explanation}" class="validation-message"></label>
                            <textarea th:field="*{explanation}" form="bookCreate" th:value="${candidate.explanation}">Explanation...</textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary btn-block">Update Book</button>
                        </div>
                    </div>

                    <input type="hidden" th:field="*{id}" th:value="${candidate.id}">
                    <span th:utext="${successMessage}"></span>
                    <div class="alert alert-danger" role="alert" th:if="${failedMessage}">
                        <span th:utext="${failedMessage}"></span>
                    </div>

                </form>
            </div>
        </main>
    </div>
</div>

<footer th:replace="fragments/complement :: footer"></footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
      feather.replace()
</script>
</body>
</html>